@model DAL.Models.CarDetail
@inject IHttpContextAccessor HttpContextAccessor

<div class="car-card">
    <a href="@Url.Action("CarBookingPage", "CarListing", new { id = Model.CarId })">
        <div class="back-img-car-tile">
            <div class="car-image">
                <div class="car-rating">
                    <span class="rating-badge">
                        @Model.UserRating <i class="fa fa-star"></i><p>|</p>
                        <span class="trips-count">@Model.NumberOfTrips Trips</span>
                    </span>
                </div>
            </div>
        </div>


        <div class="car-info">
            <div class="main-car-info">
                <h3 class="car-name">@Model.Model</h3>
                <h6>@Model.Transmission . @Model.FuelType . @Model.SeatingCapacity Seats</h6>

                <div class="car-pricing">
                    <div>
                        <span class="discounted-price">₹@Model.RentalPricePerDay/hr</span>
                        <span class="original-price">₹@(Model.RentalPricePerDay + (Model.RentalPricePerDay * 0.12M))/hr</span>
                    </div>
                    <div class="total-price">
                        ₹@(Model.RentalPricePerDay * (HttpContextAccessor.HttpContext.Session.GetInt32("duration")))
                        <span class="fees-exclusion">(excluding fees)</span>
                    </div>
                </div>
            </div>

            <p>--------------------------------------------------</p>

            <div class="car-location">
                <i class="fa fa-walking"></i> @Model.DistanceFromUser km away
            </div>
            @if (Model.HomeDeliveryAvailable == true)
            {
                <div class="home-delivery-btn">Home Delivery</div>
            }
        </div>
</div>

