@model DAL.Models.CarDetail
@inject IHttpContextAccessor HttpContextAccessor

<a href="@Url.Action("CarBookingPage", "CarListing", new { id = Model.CarId })">
    <div class="car-tile">
        <div class="car-img-div">
            <div class="car-rating-class">
                <span class="rating-badge">
                    @Model.UserRating <i class="fa fa-star"></i><p>|</p>
                    <span class="trips-count">@Model.NumberOfTrips Trips</span>
            </div>
        </div>
        <div class="text-div">
            <div class="car-and-price-div">
                <div class="car-name-div">
                    <span class="test-car-name">
                        @Model.Model
                    </span>
                    <span class="basic-details">
                        @Model.Transmission . @Model.FuelType . @Model.SeatingCapacity Seats
                    </span>
                </div>
                <div class="test-price-box">
                    @Model.DistanceFromUser km away
                </div>
            </div>
            <div class="test-line-div"><hr /></div>

            <div>
                <span class="total-price">₹@Model.RentalPricePerDay/hr</span>
                <span class="original-price">₹@(Model.RentalPricePerDay + (Model.RentalPricePerDay * 0.12M))/hr</span>
            </div>
            <div class="discounted-price">
                ₹@(Model.RentalPricePerDay * (HttpContextAccessor.HttpContext.Session.GetInt32("duration")))
                <span class="fees-exclusion">(excluding fees)</span>
            </div>
        </div>
    </div>
</a>